@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
   themes: winter --default, dracula --prefersdark;
 }

@layer components{
    .align-elements {
        @apply w-full max-w-6xl mx-auto px-5;
    }
}